# environment
.coverage
.dart_tool/
# .devcontainer/
.env
env/
.idea/
.project
.pytest_cache/
__pycache__/
.settings/
tmp/
venv/
.vscode/

# extensions
*.log
*.pyc

# project
*.csv*
*.tar
*.tar.gz
build/
build.sbt
build.properties
target/

# exceptions
!.keep

# unlisted
auto_mysql.py
auto_emails.py
mockdata.json
mockctl
src/app/common/ums.py

