# -- for common use
requests
pyyaml

# -- for auto_mongo.py
pymongo

# -- for auto_elastic.py
elasticsearch
elasticsearch_dsl

# -- for parse_xlsx.py
pandas
xlrd
openpyxl

# -- for scheduler.py
croniter
